@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
         url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

#Header {
    font-size: 2rem;
    font-family: lato, sans-serif;
    margin-bottom: 3rem;
}

#Body {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
}

.list {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem; 
}

#Body a {
    color: orange;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

#Body a:hover {
  text-decoration: underline;
}

.Top-Colums-Container {
    width: 97%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    overflow: auto; /* Clear floats if the container needs to wrap */
  }

  #Img-GirlCoding {
    width: 95%; 
    height: auto;
    display: block;
    margin-top:2rem;
  }

  .Body-Colums {
    line-height: 1.6rem;
  }

  .Bottom-Colum-Container {
    width: 97%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
    overflow: auto; /* Clear floats if the container needs to wrap */
  }

  .float-left {
    float: left;
    margin-right: 20px; /* Add spacing to the right of the image */
    margin-bottom: 10px; /* Optional: Add spacing below the image */
    max-width: 47%; /* Control the image width */
    height: auto; /* Maintain aspect ratio */
  }

  #Img-CodingLaptop {
    width: 95%; 
    height: auto;
    display: block;
    margin-top:2rem;
  }

  .float-right {
    float: right;
    margin-left: 20px; /* Add spacing to the left of the image */
    margin-bottom: 10px; /* Optional: Add spacing below the image */
    max-width: 47%;
    height: auto;
  }


  
  
  .flex-container {
    display: flex;
    flex-direction: column; /* Arrange rows vertically */
    gap: 10px; /* Optional: Spacing between rows */
  }
  
  .flex-row {
    display: flex;
    flex-direction: row; /* Arrange items within a row horizontally */
    gap: 0px; /* Optional: Spacing between items in a row */
   
  }
  
  .flex-item {
   /* border: 1px solid #ccc; /* Optional: For visual separation */
    padding: 20px; /* Optional: Add some padding inside each item */
    text-align: center; /* Optional: Center text within items */
    flex: 1; /* Makes items in a row take up equal width */
  }
  
  /* Optional: Specific styling for each item if needed */
  .item1 {
    /* Styles for the first item */
    color: pink;
    text-align: left;
  }
  
  .item2 {
    /* Styles for the second item */
    color:black;
    margin-top: 5rem;
    text-align: left;
    font-size: 1.5rem;
    font-family: lato, sans-serif;
  }
  
  .item3 {
    /* Styles for the third item */
    color:blueviolet;
    text-align: left;
  }
  
  .item4 {
    /* Styles for the fourth item */
    color:black;
    margin-top: 5rem;
    text-align: left;
    font-size: 1.5rem;
    font-family: lato, sans-serif;
  }

  #avatar {
    width: 85%; 
    height: auto;
  }